<form method="get" action="/profile">
    <input type="email" name="email" id="email">
    <input type="submit" name="submit" value="login">
    <input type="password" name="password" value="password">
</form>
